* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    max-width: 80%;
    margin: 0 auto;
}

/* header */

.header-top {
    background-color: white;
    padding: 10px 0;
}

.header-top table {
    display: flex;
    justify-content: right;
}
.header-top table .first-content {
    border-right: 1px solid black;
    padding-right: 10px;
    font-size: 14px;
}

.header-top table .second-content {
    padding-left: 10px;
    font-size: 14px;
}

.header-search {
    height: 110px;
    width: 100%;
    background-color: #ae2241;
    border: 0px solid;
}

.header-search input[type=text] {
    /* white-space: nowrap;
    text-overflow:ellipsis; */
    width: 320px;
    float: right;
    padding: 12px 10px;
    border: none;  
    border-radius: 2px; 
    font-size: 15px;
}

.header-search .ti-search {
    float: left;
    font-size: 24px;
    color: white;
    background-color: #086dae;
    padding: 9px;
    border: none;
}

#navigate {
    background-color: #2a3451;
    color: white;
    padding: 18px 22px;
}

#navigate table td {
    margin-left: 200px;
    padding-right: 15px;
    padding-left: 15px;
}
#navigate table .nav {
    border-right: 0.5px solid white;
}

#navigate .nav:hover, .nav-h:hover {
    border-bottom: 4px solid #fedf09;
}

#navigate button {
    background-color: #577f00;
    color: white;
    border: none;
    text-align: center;
    padding: 5px 22px;
    border-radius: 8px;
    font-size: 100%;   
}

#navigate table .nav-button {
    padding-left:560px;
}

/* banner */

#hero-banner {
    margin-top:0 ;
    padding-top:39%;
    background: url('/img/hero.jpg') no-repeat;
    background-size: 100%;
    position: relative;
}

#hero-banner .banner-content {
    position: absolute;
    bottom: 75px;
    left: 29%;
    color: white;

}

#hero-banner .h-content {
    font-size: 425%;
}

#hero-banner .p-content {
    font-size: 147%;
    padding-top: 20px;
}

#hero-banner .ti-arrow-circle-down {
    color: #ae2241;
    font-size: 60px;
    position: absolute;
    left:   46%;
    
}

/* main */

#main-content {
    margin-top: 0;
    padding-top: 50%; /* phan mau xam */
    background-color: #edebe7;
    position: relative;
    max-width: 100%;
}

#main-content .inform {
    position: absolute;
    top: 15px;
}

#main-content .top-content {
    text-align: center;
    padding: 50px 250px;
    font-size: 150%;
}



/* Hai anh o giua */

#main-content .bot-content {
    width:100%;
}

#main-content ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
#main-content img {
    display: block;
    max-width: 80%;
}

#main-content .inform-one {
    background-color: #ae2241;
    max-width: 80%;
    color: white;
    text-align: center;
    padding: 0 64px;
}

#main-content button {
    background-color: #086dae;
    color: white;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}








